{% extends 'base.html.twig' %}

{% block body %}
<!--Header-->
    <header>
        <ul id="navmenu">
            <i class="fa fa-times close"></i>
            <li><a href="index.html">Главная</a></li>
            <li><span>Меню<img src="img/arrow.png"></span>
                <ul>
                    <li><a href="group-page.html">Бизнес-ланч</a></li>
                    <li><a href="group-page.html">Пицца</a></li>
                    <li><a href="group-page.html">WOK</a></li>
                    <li><a href="group-page.html">Суши, роллы</a></li>
                    <li><a href="group-page.html">Закуски</a></li>
                    <li><a href="group-page.html">Горячие блюда</a></li>
                    <li><a href="group-page.html">Бургер бар</a></li>
                    <li><a href="group-page.html">Супы</a></li>
                    <li><a href="group-page.html">Напитки</a></li>
                    <li><a href="group-page.html">Пиво</a></li>
                    <li><a href="group-page.html">Десерты</a></li>
                    <li><a href="group-page.html">Соусы</a></li>
                </ul>
            </li>
            <li><a href="restaurant.html">Ресторан</a></li>
            <li><a href="delivery.html">Доставка</a></li>
            <li><a href="tel:+78152204090">8(8152)20-40-90</a></li>
        </ul>
        <div class="container">
            <div id="nav-button">
                <div class="first"></div>
                <div class="second"></div>
                <div class="third"></div>
            </div>
            <div id="search">
                <svg class="icon-search" viewBox="0 0 483.083 483.083">
                    <g>
                        <g>
                            <path d="M332.74,315.35c30.883-33.433,50.15-78.2,50.15-127.5C382.89,84.433,298.74,0,195.04,0S7.19,84.433,7.19,187.85
                                S91.34,375.7,195.04,375.7c42.217,0,81.033-13.883,112.483-37.4l139.683,139.683c3.4,3.4,7.65,5.1,11.9,5.1s8.783-1.7,11.9-5.1
                                c6.517-6.517,6.517-17.283,0-24.083L332.74,315.35z M41.19,187.85C41.19,103.133,110.04,34,195.04,34
                                c84.717,0,153.85,68.85,153.85,153.85S280.04,341.7,195.04,341.7S41.19,272.567,41.19,187.85z">
                        </g>
                    </g>
                </svg>
                <input type="search" placeholder="Поиск блюд">
            </div>
            <ul id="head-nav">
                <li><a href="group-page.html">Бизнес-ланч</a></li>
                <li><a href="group-page.html">Пицца</a></li>
                <li><a href="group-page.html">WOK</a></li>
                <li><a href="group-page.html">Суши, роллы</a></li>
                <li><a href="group-page.html">Закуски</a></li>
                <li><a href="group-page.html">Горячие блюда</a></li>
                <li><a href="group-page.html">Бургер бар</a></li>
                <li><a href="group-page.html">Супы</a></li>
                <li><a href="group-page.html">Напитки</a></li>
                <li><a href="group-page.html">Пиво</a></li>
                <li><a href="group-page.html">Десерты</a></li>
                <li><a href="group-page.html">Соусы</a></li>
            </ul>
            <a id="mobile-tel" href="tel:+78152204090">8(8152)20-40-90</a>
            <a href="index.html">
                <svg class="logo" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 353.507 145.075" enable-background="new 0 0 353.507 145.075" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path fill="#FFFFFF" d="M112.456,142.773c-2.239,0.41-3.354,0.624-5.586,1.068c-1.052-5.282-1.575-7.908-2.62-13.186
                                    c2.222-0.442,3.336-0.658,5.564-1.066c2.704-0.493,4.53,0.69,4.917,2.963c0.252,1.475-1.215,3.029-1.215,3.029
                                    c0.014,0.081,2.079,0.89,2.381,2.658C116.318,140.722,114.839,142.339,112.456,142.773z M110.018,131.934
                                    c-1.052,0.189-1.578,0.29-2.629,0.491c0.233,1.217,0.349,1.823,0.582,3.044c1.043-0.198,1.564-0.302,2.605-0.491
                                    c1.134-0.206,1.656-0.929,1.493-1.845C111.908,132.222,111.16,131.723,110.018,131.934z M111.175,137.272
                                    c-1.105,0.204-1.659,0.297-2.761,0.511c0.247,1.298,0.374,1.951,0.622,3.251c1.093-0.209,1.638-0.312,2.732-0.512
                                    c1.192-0.216,1.626-1.061,1.467-1.955C113.077,137.676,112.377,137.052,111.175,137.272z"/>
                                <path fill="#FFFFFF" d="M130.644,139.943c-0.441-0.904-0.666-1.352-1.109-2.253c-1.922,0.253-2.884,0.388-4.804,0.668
                                    c-0.189,0.985-0.281,1.477-0.466,2.467c-1.094,0.162-1.641,0.243-2.733,0.412c1.119-5.618,1.717-8.422,2.987-14.038
                                    c0.851-0.117,1.279-0.179,2.134-0.294c2.759,5.051,4.104,7.591,6.727,12.691C132.285,139.729,131.738,139.798,130.644,139.943z
                                     M126.205,130.976c-0.428,2.032-0.644,3.044-1.053,5.083c1.353-0.199,2.03-0.29,3.384-0.472
                                    C127.61,133.734,127.148,132.818,126.205,130.976z"/>
                                <path fill="#FFFFFF" d="M145.995,138.282c-1.242-2.049-1.868-3.068-3.14-5.103c-0.768,0.071-1.15,0.106-1.917,0.184
                                    c0.213,2.136,0.317,3.204,0.532,5.337c-1.051,0.105-1.577,0.164-2.63,0.273c-0.576-5.346-0.865-8.026-1.436-13.372
                                    c2.19-0.236,3.287-0.342,5.48-0.546c2.847-0.261,4.688,1.47,4.864,3.705c0.152,1.89-0.931,3.152-2.218,3.739
                                    c1.425,2.203,2.126,3.307,3.516,5.53C147.824,138.125,147.215,138.174,145.995,138.282z M142.922,127.401
                                    c-1.022,0.093-1.532,0.142-2.555,0.245c0.14,1.413,0.211,2.12,0.351,3.533c1.014-0.101,1.518-0.147,2.531-0.241
                                    c1.179-0.107,1.891-0.916,1.801-1.953C144.96,127.954,144.113,127.29,142.922,127.401z"/>
                                <path fill="#FFFFFF" d="M171.742,136.966c-0.403-0.46-0.603-0.698-1.008-1.16c-0.618,0.506-1.533,1.314-3.468,1.366
                                    c-2.981,0.083-4.521-1.391-4.624-3.921c-0.068-1.72,2.308-3.47,2.331-3.7c0.02-0.199-1.433-1.521-1.48-2.801
                                    c-0.067-1.83,1.281-3.191,3.627-3.253c2.205-0.062,3.605,1.253,3.638,3.086c0.018,1.042-0.533,1.757-1.373,2.378
                                    c0,0-0.63,0.48-0.972,0.715c0.953,1.055,1.425,1.585,2.367,2.639c0.432-0.592,0.636-1.412,0.66-2.376
                                    c0.952-0.012,1.427-0.021,2.38-0.034c-0.081,1.742-0.472,3.133-1.413,4.204c0.994,1.127,1.488,1.695,2.469,2.827
                                    C173.623,136.943,172.996,136.95,171.742,136.966z M166.374,131.024c-0.81,0.593-1.347,1.131-1.314,2.094
                                    c0.036,1.117,0.977,1.864,2.122,1.833c0.802-0.023,1.389-0.285,2.01-0.848C168.076,132.865,167.508,132.256,166.374,131.024z
                                     M167.181,125.591c-0.764,0.02-1.145,0.501-1.126,1.127c0.015,0.491,0.729,1.46,0.961,1.489c0.081,0.012,0.572-0.394,0.572-0.394
                                    c0.44-0.314,0.784-0.686,0.773-1.157C168.345,126.032,167.907,125.568,167.181,125.591z"/>
                                <path fill="#FFFFFF" d="M197.353,136.061c-1.081,0.997-2.368,1.398-3.887,1.331c-1.444-0.063-2.645-0.597-3.602-1.609
                                    c-0.567-0.611-0.909-1.297-1.039-2.059c-0.133-0.764-0.172-1.877-0.125-3.351c0.047-1.475,0.162-2.592,0.341-3.337
                                    c0.185-0.767,0.568-1.427,1.197-1.987c1.051-0.945,2.341-1.391,3.837-1.321c3.187,0.14,4.783,2.216,5.015,4.576
                                    c-1.089-0.063-1.637-0.096-2.725-0.151c-0.266-1.317-1.049-2.025-2.397-2.084c-0.726-0.032-1.345,0.194-1.771,0.646
                                    c-0.533,0.572-0.708,1.086-0.812,3.749c-0.101,2.644,0.011,3.174,0.517,3.815c0.381,0.483,0.941,0.742,1.665,0.773
                                    c0.781,0.032,1.436-0.172,1.927-0.66c0.423-0.418,0.661-1.027,0.697-1.765c0.015-0.204,0.02-0.302,0.029-0.506
                                    c-1.01-0.054-1.508-0.081-2.518-0.125c0.039-0.877,0.062-1.314,0.101-2.191c2.083,0.096,3.123,0.148,5.203,0.27
                                    c-0.044,0.786-0.071,1.175-0.117,1.961C198.771,134.003,198.341,135.149,197.353,136.061z"/>
                                <path fill="#FFFFFF" d="M212.003,138.584c-0.852-2.237-1.288-3.354-2.17-5.584c-0.769-0.068-1.152-0.108-1.921-0.167
                                    c-0.177,2.138-0.268,3.204-0.444,5.344c-1.052-0.091-1.57-0.128-2.624-0.207c0.402-5.365,0.604-8.053,1.02-13.411
                                    c2.188,0.17,3.282,0.256,5.475,0.457c2.848,0.261,4.339,2.295,4.113,4.527c-0.196,1.885-1.489,2.927-2.865,3.266
                                    c1.005,2.427,1.492,3.646,2.455,6.078C213.824,138.762,213.222,138.705,212.003,138.584z M210.952,127.332
                                    c-1.022-0.093-1.53-0.145-2.553-0.229c-0.118,1.415-0.18,2.125-0.3,3.543c1.015,0.084,1.519,0.128,2.533,0.221
                                    c1.18,0.108,2.021-0.555,2.123-1.589C212.853,128.246,212.143,127.437,210.952,127.332z"/>
                                <path fill="#FFFFFF" d="M221.017,139.567c0.644-5.344,0.968-8.017,1.619-13.356c1.091,0.133,1.634,0.201,2.725,0.344
                                    c-0.693,5.329-1.037,7.995-1.723,13.331C222.589,139.751,222.066,139.695,221.017,139.567z"/>
                                <path fill="#FFFFFF" d="M230.549,140.847c0.789-5.321,1.186-7.98,1.977-13.301c1.086,0.16,1.627,0.241,2.71,0.408
                                    c-0.683,4.39-1.031,6.586-1.717,10.977c2.446,0.384,3.68,0.587,6.12,1.013c-0.157,0.919-0.244,1.38-0.406,2.304
                                    C235.768,141.645,234.034,141.368,230.549,140.847z"/>
                                <path fill="#FFFFFF" d="M245.119,143.321c1.007-5.285,1.516-7.926,2.523-13.215c1.081,0.208,1.617,0.314,2.695,0.527
                                    c-0.862,4.358-1.295,6.538-2.154,10.894c2.43,0.484,3.641,0.737,6.07,1.258c-0.196,0.917-0.297,1.374-0.496,2.29
                                    C250.312,144.331,248.58,143.984,245.119,143.321z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path fill="#FFFFFF" d="M66.627,79.465c1.552,7.417,2.326,11.13,3.877,18.547c-10.294,2.152-15.42,3.364-25.62,6.055
                                    c-1.933-7.33-2.901-10.993-4.835-18.321c1.326-1.379,1.993-2.069,3.336-3.44c-1.305-2.858-1.959-4.28-3.28-7.132
                                    c-4.592,1.187-6.888,1.8-11.459,3.089c0.325,3.12,0.494,4.683,0.834,7.801c1.734,0.542,2.594,0.818,4.316,1.374
                                    c2.023,7.302,3.036,10.95,5.059,18.256c-8.598,2.382-12.875,3.673-21.388,6.44c-2.342-7.211-3.514-10.817-5.856-18.024
                                    c1.959-1.683,2.943-2.521,4.93-4.187c-2.254-17.838-3.252-26.788-4.988-44.73c-2.378-0.334-3.572-0.494-5.965-0.802
                                    C3.352,37.099,2.236,33.452,0,26.159c13.485-4.135,20.276-5.999,33.927-9.316c10.777,24.47,15.916,36.793,25.698,61.587
                                    C62.435,78.826,63.836,79.03,66.627,79.465z M26.847,63.239c2.772-0.769,4.158-1.145,6.938-1.877
                                    c-3.4-7.198-5.124-10.788-8.621-17.949C25.788,51.352,26.125,55.317,26.847,63.239z"/>
                                <path fill="#FFFFFF" d="M130.099,23.289c1.37,17.644,2.052,26.468,3.422,44.114c2.344,0.817,3.513,1.233,5.837,2.076
                                    c0.506,7.561,0.759,11.345,1.264,18.905c-10.795,0.721-16.184,1.226-26.941,2.523c-0.908-7.523-1.359-11.287-2.267-18.81
                                    c2.799-1.341,4.201-2,7.031-3.303c-1.262-11.849-1.891-17.775-3.152-29.624c-2.936,11.092-4.302,16.648-6.842,27.768
                                    c-2.394,0.3-3.591,0.455-5.982,0.782c-5.315-10.092-8.07-15.108-13.765-25.071c1.828,11.774,2.739,17.661,4.567,29.436
                                    c3.075,0.531,4.611,0.803,7.663,1.379c1.058,7.503,1.586,11.258,2.644,18.762c-10.736,1.513-16.089,2.415-26.752,4.506
                                    c-1.457-7.438-2.188-11.155-3.645-18.592c2.099-1.426,3.156-2.136,5.281-3.541c-3.21-17.406-4.814-26.108-8.024-43.514
                                    c-2.678-0.52-4.021-0.769-6.718-1.256c-1.466-7.486-2.199-11.229-3.666-18.715C71.22,8.926,76.824,7.966,88.059,6.317
                                    c5.598,10.011,8.305,15.049,13.545,25.18c2.558-11.139,3.934-16.703,6.868-27.815c10.516-1.173,15.785-1.643,26.329-2.348
                                    c0.509,7.611,0.763,11.414,1.271,19.025C133.672,21.52,132.478,22.105,130.099,23.289z"/>
                                <path fill="#FFFFFF" d="M171.243,21.578c0.102,17.699,0.154,26.547,0.255,44.246c2.34,0.983,3.504,1.483,5.823,2.491
                                    c-0.041,7.578-0.061,11.367-0.101,18.945c-10.547-0.056-15.822,0.054-26.36,0.545c-0.353-7.569-0.532-11.357-0.885-18.927
                                    c2.274-1.104,3.414-1.646,5.711-2.725c-0.63-17.688-0.947-26.532-1.577-44.22c-2.562-0.905-3.844-1.353-6.427-2.23
                                    c-0.355-7.62-0.534-11.43-0.889-19.05c12.348-0.576,18.532-0.701,30.889-0.636c-0.04,7.628-0.065,11.444-0.105,19.072
                                    C175.031,20.07,173.766,20.567,171.243,21.578z"/>
                                <path fill="#FFFFFF" d="M221.842,32.652c-0.349-3.682-0.53-5.521-0.898-9.202c-4.911-0.399-7.366-0.571-12.284-0.865
                                    c-1.032,1.087-1.546,1.631-2.567,2.724c-0.848,15.331-1.273,22.996-2.12,38.328c0.859,1.246,1.282,1.874,2.132,3.123
                                    c3.558,0.213,5.337,0.332,8.889,0.604c1.05-1.22,1.58-1.832,2.642-3.046c0.388-4.77,0.577-7.155,0.966-11.925
                                    c-2.963-0.241-4.444-0.35-7.41-0.55c0.403-5.967,0.607-8.95,1.01-14.917c9.719,0.656,14.573,1.088,24.269,2.167
                                    c-2.282,20.512-3.43,30.769-5.715,51.281c-4.606-0.512-6.911-0.742-11.522-1.149c-0.347-2.784-0.521-4.176-0.882-6.958
                                    c-2.199,2.563-3.287,3.852-5.435,6.439c-5.439-0.411-8.156-0.582-13.604-0.848c-4.412-6.903-6.699-10.333-11.426-17.136
                                    c0.555-21.779,0.832-32.67,1.388-54.45c5.368-6.297,8.119-9.411,13.773-15.579c10.242,0.491,15.36,0.846,25.58,1.779
                                    c4.199,6.09,6.238,9.152,10.206,15.313c-0.73,6.54-1.089,9.811-1.815,16.351C230.953,33.459,227.915,33.163,221.842,32.652z"/>
                                <path fill="#FFFFFF" d="M270.708,96.435c-8.315-1.602-12.485-2.316-20.844-3.569c-3.488-6.825-5.304-10.223-9.073-16.987
                                    c2.857-22.401,4.282-33.604,7.14-56.006c5.653-5.41,8.543-8.08,14.439-13.35c10.169,1.517,15.247,2.387,25.359,4.345
                                    c3.815,6.933,5.66,10.414,9.206,17.402c-4.764,22.074-7.157,33.112-11.921,55.187C280.13,87.628,275.381,92.13,270.708,96.435z
                                    M266.36,28.963c-1.057,0.889-1.582,1.335-2.631,2.229c-2.42,15.314-3.634,22.977-6.054,38.292
                                    c0.678,1.268,1.017,1.9,1.685,3.171c3.68,0.597,5.515,0.911,9.188,1.573c1.055-0.975,1.585-1.459,2.647-2.43
                                    c2.812-15.247,4.226-22.872,7.039-38.12c-0.693-1.193-1.045-1.791-1.747-2.982C272.443,29.966,270.414,29.62,266.36,28.963z"/>
                                <path fill="#FFFFFF" d="M348.449,58.11c-5.898-1.909-8.861-2.823-14.797-4.566c0.391-3.678,0.579-5.518,0.948-9.201
                                    c-4.486-1.303-6.739-1.935-11.245-3.145c-1.101,0.737-1.646,1.111-2.742,1.853c-0.522,1.976-0.783,2.963-1.307,4.939
                                    c0.486,1.005,0.729,1.509,1.211,2.515c7.164,3.983,10.699,6.038,17.672,10.257c2.339,5.462,3.475,8.196,5.65,13.675
                                    c-3.08,9.483-4.626,14.219-7.706,23.7c-5.992,4.239-8.939,6.405-14.717,10.807c-8.584-2.594-12.896-3.795-21.559-6
                                    c-2.636-6.743-4.012-10.106-6.9-16.817c1.435-6.166,2.147-9.248,3.579-15.415c5.727,1.331,8.579,2.037,14.276,3.527
                                    c-0.311,3.68-0.467,5.523-0.799,9.2c4.371,1.157,6.55,1.758,10.901,3.01c1.034-0.793,1.558-1.189,2.6-1.976
                                    c0.655-2.25,0.978-3.376,1.634-5.625c-0.34-0.982-0.504-1.471-0.848-2.451c-6.742-4.021-10.159-5.975-17.09-9.77
                                    c-2.486-5.662-3.773-8.486-6.436-14.122c2.157-9.274,3.227-13.916,5.385-23.19c5.781-4.491,8.727-6.698,14.712-11.044
                                    c10.318,2.616,15.458,4.04,25.681,7.125c2.901,6.811,4.289,10.227,6.955,17.064C351.48,48.719,350.476,51.849,348.449,58.11z"/>
                            </g>
                        </g>
                        <path fill="#FFFFFF" d="M331.624,128.266l-0.754-1.02l-0.256,0.189c-0.034,0.027-3.629,2.663-9.424,4.626
                            c-0.371-0.162-1.126-0.484-2.206-0.926c4.714-1.818,7.756-3.932,8.124-4.191l0.261-0.187l-0.781-1.055l-0.253,0.189
                            c-0.035,0.027-3.523,2.572-9.142,4.522c-0.688-0.272-1.455-0.572-2.303-0.896c4.83-1.884,7.803-4.025,7.94-4.125l0.253-0.187
                            l-0.773-1.047l-0.256,0.189c-0.034,0.027-3.469,2.528-9.009,4.472c-0.739-0.277-1.53-0.567-2.361-0.87
                            c4.398-1.727,7.268-3.67,7.854-4.091l0.28-0.182l-0.791-1.062l-0.253,0.189c-0.034,0.027-3.464,2.521-8.987,4.467
                            c-21.008-7.468-66.404-20.9-123.309-21.923c-0.337-2.128-2.172-3.753-4.392-3.731c-2.169,0.02-3.95,1.608-4.302,3.678
                            c-56.519,0.248-105.034,11.823-130.726,19.377l-0.2-0.071c0,0-0.477-0.167-0.625-0.211c-5.843-1.971-9.468-4.63-9.498-4.651
                            l-0.254-0.204l-0.596,0.803l-0.175,0.268l0.262,0.188c0.631,0.449,3.934,2.691,8.966,4.508c-0.866,0.258-1.709,0.514-2.516,0.762
                            v-0.152l-0.092,0.147l-0.375-0.128c-5.843-1.963-9.471-4.626-9.5-4.648l-0.256-0.203l-0.779,1.056l0.253,0.188
                            c0.036,0.026,3.383,2.439,8.647,4.393c-0.883,0.277-1.729,0.545-2.527,0.801l-0.118-0.039c-5.844-1.966-9.471-4.629-9.5-4.651
                            l-0.256-0.204l-0.775,1.069l0.258,0.185c0.367,0.263,3.52,2.449,8.39,4.292c-0.897,0.294-1.715,0.569-2.473,0.825
                            c-5.797-1.963-9.395-4.602-9.424-4.624l-0.256-0.204l-0.759,1.03l0.206,0.191c0.025,0.021,3.496,2.567,9.109,4.582l0.106,0.307
                            c-3.03,5.112-4.097,9.316-4.103,9.354l-0.046,0.287l1.241,0.305l0.074-0.308c0.01-0.041,1.049-4.161,4.071-9.188l0.167-0.271
                            c0.724-0.246,1.489-0.504,2.341-0.784c-2.463,4.408-3.449,7.953-3.562,8.386l-0.082,0.31l1.271,0.309l0.074-0.307
                            c0.011-0.042,1.098-4.255,4.15-9.299c0.735-0.238,1.507-0.484,2.317-0.739c-2.456,4.451-3.409,8.017-3.452,8.186l-0.08,0.31
                            l1.267,0.3l0.078-0.3c0.115-0.442,1.17-4.297,3.94-8.967l0.055-0.091c0.745-0.231,1.515-0.467,2.312-0.708
                            c-2.193,4.029-3.108,7.221-3.289,7.901l-0.096,0.316l1.279,0.305l0.077-0.3c0.114-0.434,1.162-4.193,3.84-8.769
                            c25.236-7.511,74.322-19.457,131.648-19.707c0.37,2.086,2.19,3.669,4.378,3.649c2.144-0.022,3.912-1.568,4.298-3.596
                            c56.184,1.01,101.098,14.165,122.235,21.629l0.11,0.172l0.037,0.202h0.086c3.007,4.901,4.14,9.03,4.258,9.49l0.086,0.307
                            l1.256-0.324l-0.081-0.309c-0.194-0.73-1.256-4.383-3.833-8.854c0.835,0.302,1.621,0.589,2.368,0.867
                            c0.05,0.078,0.099,0.152,0.12,0.191l0.598,1.201v-0.209c2.641,4.538,3.653,8.24,3.766,8.673l0.086,0.307l1.259-0.311l-0.079-0.308
                            c-0.047-0.174-1.088-4.073-3.808-8.814c0.877,0.334,1.702,0.653,2.417,0.936c0.003,0.005,0.008,0.01,0.01,0.015l0.047,0.079
                            c3.193,5.161,4.324,9.537,4.349,9.641l0.068,0.309l1.275-0.319l-0.081-0.308c-0.113-0.435-1.135-4.105-3.702-8.628
                            c1.474,0.602,2.321,0.973,2.488,1.047c3.11,5.093,4.201,9.323,4.23,9.441l0.066,0.314l1.251-0.31l-0.049-0.288
                            c-0.006-0.036-1.094-4.358-4.227-9.571c5.752-2.027,9.314-4.648,9.339-4.671L331.624,128.266z"/>
                    </g>
                </svg>
            </a>
            <div id="cart-button">
                <svg id="svg-source" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="shopping-cart" data-iconmelon="e-commerce icons:7c96e2dece0152dc594d66b260f79db0">
                    <path d="M22.463,25.841c0.528,0,0.918-0.429,0.918-0.958v-6.786c0-0.529-0.39-0.958-0.918-0.958c-0.529,0-0.92,0.429-0.92,0.958
                        v6.786C21.543,25.413,21.934,25.841,22.463,25.841z M18.156,25.841c0.529,0,0.919-0.429,0.919-0.958v-6.786
                        c0-0.529-0.39-0.958-0.919-0.958s-0.919,0.429-0.919,0.958v6.786C17.237,25.413,17.627,25.841,18.156,25.841z M13.851,25.841
                        c0.528,0,0.919-0.429,0.919-0.958v-6.786c0-0.529-0.391-0.958-0.919-0.958c-0.529,0-0.919,0.429-0.919,0.958v6.786
                        C12.932,25.413,13.321,25.841,13.851,25.841z M29.426,8.511h-5.327l-2.731-4.396c-0.342-0.593-0.98-0.961-1.666-0.961
                        c-0.336,0-0.668,0.089-0.959,0.258c-0.918,0.529-1.233,1.707-0.689,2.647l1.564,2.451h-7.976l1.58-2.475
                        c0.529-0.917,0.214-2.095-0.704-2.624c-0.292-0.169-0.623-0.258-0.959-0.258c-0.686,0-1.323,0.368-1.655,0.943L7.161,8.511H2.574
                        C1.155,8.511,0,9.667,0,11.086v1.47c0,1.274,0.934,2.525,2.152,2.728l1.931,11.042c0.03,1.394,1.173,2.519,2.573,2.519h18.605
                        c1.401,0,2.545-1.125,2.574-2.52l1.921-11.032C31.019,15.128,32,13.862,32,12.556v-1.47C32,9.667,30.845,8.511,29.426,8.511z
                         M26.615,26.167l-0.009,0.104c0,0.741-0.604,1.344-1.345,1.344H6.656c-0.741,0-1.344-0.603-1.344-1.344L3.407,15.327h25.096
                        L26.615,26.167z M30.77,12.556c0,0.74-0.603,1.541-1.344,1.541H2.574c-0.741,0-1.344-0.8-1.344-1.541v-1.47
                        c0-0.741,0.603-1.344,1.344-1.344h5.271l3.113-5.011c0.184-0.318,0.623-0.439,0.944-0.253c0.33,0.19,0.444,0.614,0.268,0.92
                        L9.396,9.742h12.467l-2.76-4.32c-0.189-0.33-0.076-0.753,0.253-0.944c0.323-0.186,0.756-0.074,0.955,0.27l3.104,4.994h6.011
                        c0.741,0,1.344,0.603,1.344,1.344V12.556z M9.545,25.841c0.528,0,0.918-0.429,0.918-0.958v-6.786c0-0.529-0.39-0.958-0.918-0.958
                        c-0.529,0-0.919,0.429-0.919,0.958v6.786C8.626,25.413,9.016,25.841,9.545,25.841z"></path>
                      </g>
                </svg>
                <p id="cart-sum">1747<i class="fa fa-rub"></i></p>
            </div> 
        </div>
    </header>
    <!--/Header-->
    <!-- Поиск -->
    <div id="search-box">
        <div class="container">
            <div class="search-result">
                <ul>
                    <li><a class="search-item" href="#">Диабло</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Реллено</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Микс</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Чизбургер</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Вок с овощами в соусе терияки</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Диабло</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Реллено</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Микс</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Чизбургер</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                    <li><a class="search-item" href="#">Вок с овощами в соусе терияки</a><button class="buy">299<i class="fa fa-rub"></i><i class="fa fa-cart-plus"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Поиск -->
    <!-- Корзина -->
    <div id="cart">
        <!-- Заголовок корзины -->
        <div id="cart-heading">
            <i id="close-cart" class="fa fa-times"></i>
            <h2>Корзина</h2>
        </div>
        <!-- Содержимое корзины -->
        <table>
            <!-- Раздел корзины -->
            <tr class="group-title">
                <td colspan="5">
                    <h3>Пицца</h3>
                </td>
            </tr>
            <!-- Товар -->
            <tbody>
            <tr>
                <td class="item-name" colspan="4"><a href="item.html">Диабло</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">2</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">598<i class="fa fa-rub"></i></td>
            </tr>
            <!--модификаторы-->
            <tr class="cart-mod">
                <td colspan="5"><span class="mod-name">бекон</span><i class="fa fa-minus-circle"></i><span class="mod-q">1</span><i class="fa fa-plus-circle"></i><span class="mod-price">50<i class="fa fa-rub"></i></span></td>
            </tr>
            <tr class="cart-mod">
                <td colspan="5"><span class="mod-name">маслины</span><i class="fa fa-minus-circle"></i><span class="mod-q">1</span><i class="fa fa-plus-circle"></i><span class="mod-price">20<i class="fa fa-rub"></i></span></td>
            </tr>
            <!--/модификаторы-->
            </tbody>
            <!--/ Товар -->
            <!-- Товар -->
            <tbody>
            <tr>
                <td class="item-name" colspan="4"><a href="item.html">Микс</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">1</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">290<i class="fa fa-rub"></i></td>
            </tr>
            </tbody>
            <!--/ Товар -->
            <!-- Раздел корзины -->
            <tr>
                <td colspan="5">
                    <h3>WOK</h3>
                </td>
            </tr>
            <!-- Товар c обязательным модификатором-->
            <tbody>
            <tr>
                <td colspan="4"><a href="item.html">WOK собери сам</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">1</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">159<i class="fa fa-rub"></i></td>
            </tr>
            <!--модификаторы-->
            <!--обязательный модификатор-->
            <tr class="cart-mod">
                <td colspan="5"><span class="mod-name">рисовая лапша</span><span class="mod-price">50<i class="fa fa-rub"></i></span></td>
            </tr>
            <!--/обязательный модификатор-->
            <tr class="cart-mod">
                <td colspan="5"><span class="mod-name">курица</span><i class="fa fa-minus-circle"></i><span class="mod-q">1</span><i class="fa fa-plus-circle"></i><span class="mod-price">50<i class="fa fa-rub"></i></span></td>
            </tr>
            <tr class="cart-mod">
                <td colspan="5"><span class="mod-name">овощи</span><i class="fa fa-minus-circle"></i><span class="mod-q">1</span><i class="fa fa-plus-circle"></i><span class="mod-price">20<i class="fa fa-rub"></i></span></td>
            </tr>
            <!--/модификаторы-->
            </tbody>
            <!--/ Товар -->
            <!-- Товар -->
            <tbody>
            <tr>
                <td colspan="4"><a href="item.html">Вок c овощами в соусе Терияки</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">1</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">159<i class="fa fa-rub"></i></td>
            </tr>
            </tbody>
            <!--/ Товар -->
            <!-- Товар -->
            <tbody>
            <tr>
                <td class="item-name" colspan="4"><a href="item.html">Вок c курицей в соусе терияки</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">1</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">159<i class="fa fa-rub"></i></td>
            </tr>
            </tbody>
            <!--/ Товар -->
            <!-- Товар -->
            <tbody>
            <tr>
                <td class="item-name" colspan="4"><a href="item.html">WOK-Ланч</a></td>
                <td class="delete" rowspan="2"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="minus"><i class="fa fa-minus-circle"></i></td>
                <td class="quantity">2</td>
                <td class="plus"><i class="fa fa-plus-circle"></i></td>
                <td class="price">550<i class="fa fa-rub"></i></td>
            </tr>
            </tbody>
            <!--/ Товар -->
            <!-- Товар в подарок-->
            <tbody>
            <tr>
                <td class="item-name" colspan="5"><a href="item.html">Чизбургер</a></td>
            </tr>
            <tr>
                <td class="quantity">2</td>
                <td class="gift" colspan="4">в подарок</td>
            </tr>
            </tbody>
            <!--/ Товар -->
            <!-- Информация по заказу -->
            <tr class="cart-info">
                <td colspan="4">
                    <p>До бесплатной доставки не хватает: <span>53<i class="fa fa-rub"></i></span></p>
                </td>
            </tr>
            <tr class="progress-bar">
                <td colspan="5">
                    <div>
                        <span class="bar1"></span>
                    </div>
                </td>
            </tr>
            <tr class="cart-info">
                <td colspan="4">
                    <p>До <a href="item.html">Пиво Amigos</a> в подарок не хватает: <span>253<i class="fa fa-rub"></i></span></p>
                </td>
            </tr>
            <tr class="progress-bar">
                <td colspan="5">
                    <div>
                        <span class="bar2"></span>
                    </div>
                </td>
            </tr>
            <tr class="cart-info">
                <td colspan="4">
                    <p>До <a href="item.html">Маргарита</a> в подарок не хватает: <span>753<i class="fa fa-rub"></i></span></p>
                </td>
            </tr>
            <tr class="progress-bar">
                <td colspan="5">
                    <div>
                        <span class="bar3"></span>
                    </div>
                </td>
            </tr>
            <!--/ Информация по заказу -->
        </table>
        <div id="cart-bottom">
            <p>Итого: <span>1747<i class="fa fa-rub"></i></span></p>
            <a id="cart-order" href="checkout.html">Заказать</a>
        </div>
    </div>
    <!--/Корзина-->
    <!--Основной контент-->
    <!--Хлебные крошки-->
    <div id="breadcrumbs">
        <div class="container">
            <a class="main" href="index.html"><span>Главная</span></a>
            <span>Страница не найдена</span>
        </div>
    </div>
    <!--/Хлебные крошки-->
    <section class="error-page">
        <div class="container">
            <div class="col-sm-6">
                <img src="img/error404.png">
            </div>
            <div class="col-sm-6">
                <h2>Ой! Возможно, страница была удалена.</h2>
                <p>Проверьте правильность набора ссылки или воспользуйтесь поиском. Надеемся, Вы найдете то, что искали;)</p>
            </div>
        </div><!--/Контейнер-->
    </section>
    <!--/Основной контент-->
    <!--Footer-->
    <footer>
        <a href="http://nuber.ru/" target="_blank"><img src="img/nuber.png"></a>
    </footer>
    <!--/Footer-->
    <!-- Блок с телефонным номером -->
    <div id="phone">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="412.991 -6.999 1093.993 1093.999"
     enable-background="new 412.991 -6.999 1093.993 1093.999" xml:space="preserve">
<path fill="#00ff62" d="M1397.329,782.421c-127.83-102.802-163.575-66.512-222.858-6.393l-11.624,11.733
    c-28.334,28.37-74.359,22.086-136.839-18.526c-43.337-28.189-96.881-74.032-159.07-136.258
    C713.243,479.32,664.094,385.272,712.189,337.068l11.588-11.443c60.264-59.284,96.626-95.064-6.212-222.967
    c-34.4-42.683-67.312-64.987-97.934-66.294c-0.944-0.036-1.889-0.036-2.833-0.036c-43.409,0-82.605,41.266-117.296,77.773
    c-6.974,7.338-13.731,14.458-20.379,21.105c-33.311,33.274-29.932,120.71,8.573,222.822
    c47.587,126.123,142.143,263.943,266.268,388.068c124.089,124.052,261.836,218.608,387.995,266.159
    c102.112,38.578,189.548,41.847,222.786,8.609c6.648-6.648,13.767-13.404,21.105-20.342c37.307-35.454,79.626-75.63,77.773-120.202
    C1462.352,849.697,1440.048,816.749,1397.329,782.421z"/>
<path d="M1499.891,878.901c-1.744-42.174-27.862-82.932-79.844-124.706c-153.404-123.326-208.11-67.856-271.462-3.596
    l-11.443,11.552c-19.035,19.035-65.423-6.466-91.359-23.321c-41.193-26.772-92.74-71.017-153.186-131.463
    C707.409,422.177,727.316,373.392,737.85,362.858l11.37-11.261c64.405-63.425,120.056-118.131-3.378-271.644
    c-41.775-51.982-82.568-78.137-124.67-79.88c-61.1-2.18-107.197,46.097-147.991,88.998c-6.757,7.12-13.295,14.022-19.725,20.451
    c-44.717,44.681-44.608,142.324,0.254,261.291c49.367,130.845,146.865,273.242,274.55,400.927
    c127.649,127.649,270.009,225.147,400.854,274.477c59.683,22.522,113.954,33.783,158.889,33.783
    c44.717,0,80.207-11.152,102.402-33.383c6.43-6.393,13.332-12.932,20.415-19.688
    C1453.757,986.171,1502.397,939.964,1499.891,878.901z"/>
</svg>
    </div>
    <a id="phone-number" href="tel:+78152204090">8(8152)20-40-90</a>
{% endblock %}