<div class="col-sm-4" style="display: block;">
    <div class="category-wrap">
        <img src="{{ img }}">
        <h4>{{group.name}}</h4>
        <a class="to-category" href="/catalog/{{alias}}">Перейти в раздел </a>
    </div>
</div>